// .map-container{
//     overflow:hidden;
//     padding-bottom:56.25%;
//     position:relative;
//     height:0;
//     }
//     .map-container iframe{
//     left:0;
//     top:0;
//     height:100%;
//     width:100%;
//     position:absolute;
//     }

// #85929E
.border2{
    // border-bottom: 2px solid #5D6D7E;
    border-top: 2px solid #D6DBDF;
}

.border1{
    border-top: 3px solid #D6DBDF;
}

.border4{
    border-bottom: 3px solid #D6DBDF;
    border-top: 3px solid #D6DBDF;
    border-left: 3px solid #D6DBDF;
    border-right: 3px solid #D6DBDF;
}

.noborder{
    border-color: #ffffff;
}