<app-content>
    <br>
    
    <div class="row d-flex bd-highlight" style="margin-bottom: 20px;">
        <div class="col-lg-6 col-sm-12 text-center-mobile" style="margin-top: 5px;">
            <button type="button" class="btn btn-create" (click)="openModal(template)">
                เพิ่มร้านโรงพยาบาล
            </button>
        </div>

        <div class="col-lg-6 col-sm-12">
            <div class="input-group mb-3 input-center-mobile d-flex justify-content-end">
                <span class="input-group-text" id="basic-addon1"
                    style="background: #3399ff; color: #ffffff;">ค้นหาข้อมูล</span>
                <input type="text" class="form-control" placeholder="กรอกข้อมูล" style="max-width: 185px;">
                <button class="btn btn-outline-primary" type="button" id="button-addon2">ค้นหา</button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered" style="border:#D4D4D4; vertical-align: middle;">
            <thead>
                <tr>
                    <th class="" style="min-width: 50px;">ลำดับ</th>
                    <th class="" style="min-width: 150px;">ชื่อร้านโรงพยาบาล</th>
                    <th class="" style="min-width: 100px;">จังหวัด</th>
                    <th class="" style="min-width: 150px;">จัดการข้อมูล</th>
                </tr>
            </thead>
            <tbody>
                <tr style="text-align: center;">
                    <th scope="row">001</th>
                    <td>โรงพยาบาลแพร่</td>
                    <td>แพร่</td>
                    <td>
                        <button type="button" class="btn btn-outline-warning">แก้ไข</button>&nbsp;
                        <button type="button" class="btn btn-outline-danger">ลบ</button>
                    </td>
                </tr>
                <tr style="text-align: center;">
                    <th scope="row">002</th>
                    <td>โรงพยาบาลเชียงใหม่ราม</td>
                    <td>เชียงใหม่</td>
                    <td>
                        <button type="button" class="btn btn-outline-warning">แก้ไข</button>&nbsp;
                        <button type="button" class="btn btn-outline-danger">ลบ</button>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
    <ng-template #template>
        <div class="modal-header">
            <h6 class="modal-title pull-left" [translate]>
                <b>เพิ่มร้านโรงพยาบาล</b>
            </h6>
            <button type="button" class="btn-close pull-right" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="form-group row form-default">
                <label class="col-sm-5 col-form-label" [translate]>ชื่อร้านโรงพยาบาล<span class="text-danger">*</span></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" formControlName="setup_product_name" />
                </div>
            </div><br>

            <div class="form-group row form-default">
                <label class="col-sm-5 col-form-label" [translate]>จังหวัด<span class="text-danger">*</span></label>
                <div class="col-sm-6">
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>จังหวัด...</option>
                        <option value="1">แพร่</option>
                        <option value="2">เชียงใหม่</option>
                        <option value="3">ลำพูน</option>
                        <option value="3">ลำปาง</option>
                    </select>
                </div>
            </div><br>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success" [translate]>
                บันทึกข้อมูล
            </button>
        </div>
    </ng-template>

</app-content>