thead{
    text-align: center;
}

.btn-create{
    max-width: 160px;
    background-color: #28B463; 
    color: #ffffff
    // margin-left: 12px;
}

.btn-needle1{
    max-width: 129px;
    background-color: #85C1E9; 
    color: #ffffff;
    margin-left: 10px;
}

.btn-needle2{
    max-width: 129px;
    background-color: #21618C; 
    color: #ffffff;
    margin-left: 10px;
}

.bg-number{
    color: #ffffff;
    background-color: #079600;
    height: 35px;
    width: 75px;
    border-radius: 8px;
    vertical-align: middle;
}

.bg-number-red{
    color: #ffffff;
    background-color: #ff221b;
    height: 35px;
    width: 75px;
    border-radius: 8px;
    vertical-align: middle;
}

// td{
//     height: 500px;
// }