thead{
    text-align: center;
}

.btn-close{
    max-width: 120px;
    color: #ffffff
}

.btn-needle1{
    max-width: 129px;
    background-color: #85C1E9; 
    color: #ffffff;
    margin-left: 10px;
}

.btn-needle2{
    max-width: 129px;
    background-color: #21618C; 
    color: #ffffff;
    margin-left: 10px;
}

.bg-status{
    color: #ffffff;
    background-color: #1ABC9C;
    height: 35px;
    width: 120px;
    border-radius: 10px;
    vertical-align: middle;
}

.bg-status-yellow{
    color: #ffffff;
    background-color: #F39C12;
    height: 35px;
    width: 120px;
    border-radius: 10px;
    vertical-align: middle;
}

.bg-status-red{
    color: #ffffff;
    background-color: #E74C3C;
    height: 35px;
    width: 120px;
    border-radius: 10px;
    vertical-align: middle;
}

.btn-submit {
    background-color: #1ABC9C;
    color: #ffffff;
}

// .imgbank {
//     max
//     height: 450px;
//     width: 225px;
//   }

// .modal-dialog {
//     max-width: 800px;
//     margin: 1.75rem auto;
//   }
