<app-content>
    <br>
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-lg-6 col-md-6 col-sm-12 text-center-mobile">
            <button type="button" class="btn btn-danger btn-create btn-moblie" (click)="openCreate(template)">
                นัดหมายฉีดวัคซีนเข็มที่ 2
            </button>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="input-group mb-3 input-center-mobile d-flex justify-content-end">
                <span class="input-group-text" id="basic-addon1"
                    style="background: #3399ff; color: #ffffff;">ค้นหาข้อมูล</span>
                <input type="text" class="form-control" placeholder="กรอกข้อมูล" style="max-width: 185px;">
                <button class="btn btn-outline-primary" type="button" id="button-addon2">ค้นหา</button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered" style="border:#D4D4D4; vertical-align: middle;">
            <thead>
                <tr>
                    <th class="" style="min-width: 50px;">ลำดับ</th>
                    <th class="" style="min-width: 120px;">เลขออร์เดอร์</th>
                    <th class="" style="min-width: 200px;">ชื่อ - นามสกุล</th>
                    <th class="" style="min-width: 190px;">เลขบัตรประจำตัวประชาชน</th>
                    <th class="" style="min-width: 100px;">สถานะ</th>
                    <th class="" style="min-width: 200px;">จัดการข้อมูล</th>
                </tr>
            </thead>
            <tbody>
                <tr style="text-align: center;">
                    <th scope="row">001</th>
                    <td>OR0000001</td>
                    <td>นายหล่อเท่ อย่างหมา</td>
                    <td>1-5499-00604-63-0</td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <div class="d-flex align-items-center justify-content-center bg-status">
                                ฉีดวัคซีนสำเร็จ
                            </div>
                        </div>
                    </td>

                    <td>
                        <button type="button" class="btn btn-outline-success"
                            (click)="openModal(templatecheck)">ตรวจสอบ</button>&nbsp;
                        <button type="button" class="btn btn-outline-danger">ลบ</button>
                    </td>
                </tr>
                <tr style="text-align: center;">
                    <th scope="row">002</th>
                    <td>OR0000002</td>
                    <td>นายจนจัด บ้านหาย</td>
                    <td>1-5499-00708-58-0</td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <div class="d-flex align-items-center justify-content-center bg-status-yellow">
                                รอฉีดวัคซีน
                            </div>
                        </div>
                    </td>

                    <td>
                        <button type="button" class="btn btn-outline-success">ตรวจสอบ</button>&nbsp;
                        <button type="button" class="btn btn-outline-danger">ลบ</button>
                    </td>
                </tr>
                <tr style="text-align: center;">
                    <th scope="row">003</th>
                    <td>OR0000003</td>
                    <td>นางรอคอย อย่างเดียวดาย</td>
                    <td>3-5499-00082-71-7</td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <div class="d-flex align-items-center justify-content-center bg-status-yellow">
                                รอฉีดวัคซีน
                            </div>
                        </div>
                    </td>

                    <td>
                        <button type="button" class="btn btn-outline-success">ตรวจสอบ</button>&nbsp;
                        <button type="button" class="btn btn-outline-danger">ลบ</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <ng-template #template>
        <div class="modal-header">
            <h6 class="modal-title pull-left" [translate]>
                นัดหมายฉีดวัคซีนเข็มที่ 2
            </h6>
            <button type="button" class="btn-close pull-right" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group row form-default">
                <div class="col-sm-6">
                    <span class="">ยี่ห้อวัคซีน : </span><span class="text-danger">Moderna</span>
                </div>
                <div class="col-sm-6">
                    <span class="">เข็ม : </span><span class="text-danger">สอง</span>
                </div>
            </div><br>

            <div class="form-group row form-default">
                <label class="col-sm-5 col-form-label" [translate]>วันเข้ารับการฉีดวัคซีน<span
                        class="text-danger">*</span></label>
                <div class="col-sm-6">
                    <input type="date" class="form-control" formControlName="setup_product_name" />
                </div>
            </div><br>

            <div class="form-group row form-default">
                <label class="col-sm-5 col-form-label" [translate]>เวลาที่เข้าฉีด<span
                        class="text-danger">*</span></label>
                <div class="col-sm-6">
                    <input type="time" class="form-control" formControlName="setup_product_name" />
                </div>
            </div><br>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success" [translate]>
                บันทึกข้อมูล
            </button>
        </div>
    </ng-template>

    <ng-template #templatecheck let-modal>
        <div class="modal-header">
            <h6 class="modal-title pull-left" [translate]>
                <b>ข้อมูลผู้จอง</b>
            </h6>
            <button type="button" class="close btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <div class="col-sm-12">
                    <span class="">เลขบัตรประจำตัวประชาชน : </span><span>1-5499-00604-63-0</span>
                </div>
                
            </div><br>

            <div class="form-group row">
                <div class="col-sm-7">
                    <span class="">ชื่อ - นามสกุล : </span><span>นายขยัน อดทน</span>
                </div>
                <div class="col-sm-5">
                    <span class="">วันเกิด : </span><span>16/11/2564</span>
                </div>
            </div><br>

            <div class="form-group row">
                <div class="col-sm-12">
                    <span class="">เบอร์โทรศัพท์ : </span><span>098-416-7736</span>
                </div>
            </div>
        </div>

        <div class="modal-header">
            <h6 class="modal-title pull-left" [translate]>
                <b>ข้อมูลออร์เดอร์</b>
            </h6>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <div class="col-sm-12">
                    <span class="">สถานที่ฉีด : </span><span>โรงพยาบาลแพร่</span>
                </div>
            </div><br>

            <div class="form-group row">
                <div class="col-sm-6">
                    <span class="">วัคซีน : </span><span>Moderna</span>
                </div>
                <div class="col-sm-3">
                    <span class="">เข็มที่ : </span><span>1</span>
                </div>
                <div class="col-sm-3">
                    <span class="">คิวที่ : </span><span>39</span>
                </div>
                
            </div><br>

            <div class="form-group row">
                <div class="col-sm-6">
                    <span class="">เข้ารับการฉีดวันที่ : </span><span>16/11/2564</span>
                </div>
                <div class="col-sm-6">
                    <span class="">เข้ารับการฉีดเวลา : </span><span>14.00 น.</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12" style="text-align: center;">
                    
                </div>
                
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-submit">ยืนยันฉีดวัคซีนสำเร็จ</button>
            <button type="button" class="btn btn-danger">ยกลิกการยืนยัน</button>
        </div>
    </ng-template>
</app-content>


                    