a {
    .mat-icon {
        margin-left: 8px;
        margin-right: 16px;
    }
  
  }
  
  .sidebar-profile{
   padding: 3% 4% 3% 4%;
   background: #3399ff;
  }
  
  .sidebar-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
  }

  .imglogo {
    width: 80px;
    height: 80px;
  }

  .Prompt{
    font-family: Prompt;
  }

  .hospital-name{
    color: #ffffff;
    font-weight: bolder;
    font-size: 25px;
    font-family: Prompt;
  }