<app-content>
    <br>
    <div class="row d-flex bd-highlight" style="margin-bottom: 10px;">
        <div class="col-lg-6 col-sm-12 text-center-mobile">
            <button type="button" class="btn btn-create btn-moblie" (click)="openModal(template)">
                เพิ่มวัคซีน
            </button>
        </div>

        <div class="col-lg-6 col-sm-12">
            <div class="input-group mb-3 input-center-mobile d-flex justify-content-end">
                <span class="input-group-text" id="basic-addon1"
                    style="background: #3399ff; color: #ffffff;">ค้นหาข้อมูล</span>
                <input type="text" class="form-control" placeholder="กรอกข้อมูล" style="max-width: 185px;">
                <button class="btn btn-outline-primary" type="button" id="button-addon2">ค้นหา</button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered" style="border:#D4D4D4; vertical-align: middle;">
            <thead>
                <tr>
                    <th class="" style="min-width: 50px;">ลำดับ</th>
                    <th class="" style="min-width: 130px;">ชนิดวัคซีน</th>
                    <th class="" style="min-width: 120px;">ยี่ห้อวัคซีน</th>
                    <th class="" style="min-width: 300px;">ผลค้างเคียง</th>
                    <th class="" style="min-width: 160px;">ราคา (รวมค่าบริการ)</th>
                    <th class="" style="min-width: 150px;">จัดการข้อมูล</th>
                </tr>
            </thead>
            <tbody>
                <tr style="text-align: center;">
                    <th scope="row">001</th>
                    <td>Inactivated vaccine</td>
                    <td>Sinova</td>
                    <td>อาจมีอาการไม่สบายหรือคล้ายไข้หวัดใหญ่</td>
                    <td>3,500 บาท</td>
                    <td>
                        <button type="button" class="btn btn-outline-warning">แก้ไข</button>&nbsp;
                        <button type="button" class="btn btn-outline-danger">ลบ</button>
                    </td>
                </tr>
                
                <tr style="text-align: center;">
                    <th scope="row">002</th>
                    <td>Protein subunit vaccine</td>
                    <td>Novavax</td>
                    <td>อาจมีอาการปวดหัวตัวร้อนปวดเมื่อยร่างกาย</td>
                    <td>4,000 บาท</td>
                    <td>
                        <button type="button" class="btn btn-outline-warning">แก้ไข</button>&nbsp;
                        <button type="button" class="btn btn-outline-danger">ลบ</button>
                    </td>
                </tr>
                <tr style="text-align: center;">
                    <th scope="row">003</th>
                    <td>mRNA</td>
                    <td>Moderna</td>
                    <td>อาจมีอาการไม่สบายหรือปวดหัวเล็กน้อย</td>
                    <td>3,300 บาท</td>
                    <td>
                        <button type="button" class="btn btn-outline-warning">แก้ไข</button>&nbsp;
                        <button type="button" class="btn btn-outline-danger">ลบ</button>
                    </td>
                </tr>
                <tr style="text-align: center;">
                    <th scope="row">004</th>
                    <td>Viral vector vaccines</td>
                    <td>AstraZeneca</td>
                    <td>อาจมีอาการปวดหัวตัวร้อนปวดเมื่อยร่างกาย</td>
                    <td>3,000 บาท</td>
                    <td>
                        <button type="button" class="btn btn-outline-warning">แก้ไข</button>&nbsp;
                        <button type="button" class="btn btn-outline-danger">ลบ</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #template>
        <div class="modal-header">
            <h6 class="modal-title pull-left" [translate]>
                <b>เพิ่มวัคซีน</b>
            </h6>
            <button type="button" class="btn-close pull-right" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="form-group row form-default">
                <label class="col-sm-3 col-form-label" [translate]>ชนิดวัคซีน<span class="text-danger">*</span></label>
                <div class="col-sm-8">
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>เลือกชนิดวัคซีน</option>
                        <option value="1">Inactivated vaccine</option>
                        <option value="2">Protein subunit vaccine</option>
                        <option value="3">mRNA</option>
                        <option value="4">Viral vector vaccines</option>
                      </select>
                </div>
            </div><br>

            <div class="form-group row form-default">
                <label class="col-sm-5 col-form-label" [translate]>ยี่ห้อวัคซีน<span class="text-danger">*</span></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" formControlName="setup_product_name" />
                </div>
            </div><br>

            <div class="form-group row form-default">
                <label class="col-sm-5 col-form-label" [translate]>ผลค้างเคียง<span class="text-danger">*</span></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" formControlName="setup_product_name" />
                </div>
            </div><br>

            <div class="form-group row form-default">
                <label class="col-sm-5 col-form-label" [translate]>ราคา<span class="text-danger">*</span></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" formControlName="setup_product_name" />
                </div>
            </div><br>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success" [translate]>
                บันทึกข้อมูล
            </button>
        </div>
    </ng-template>

</app-content>