.login-block {
    margin: 10px auto;
  }

.btn-login{
    background-color: #3399ff;
    color: #ffffff;
    width: 100%;
}

.bg-login{
    background-color: #85C1E9;
    border-radius: 10px;
}

body {
    height: 100%;
    background-color:#EAEDED;
}